@import "~bootstrap/scss/bootstrap";

$font-stack: Helvetica, sans-serif;

%shared-navigation-btn {
  font: 100% $font-stack;
  color: black;
  background: rgba(0,0,0,0);
  border: 2px solid white;
  border-radius: 2%;
  font-weight: bolder;
  font-size: 28px;
  transition: 0.5s ease-in;
  &:hover {
    color: #E6873F;
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid black;
    transition: 0.5s ease-in;
  }
}

%Left-Page-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%Left-Page-Info-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

%Left-Page-Title {
  font: 100% $font-stack;
  color: #E6873F;
  font-size: 34px;
  font-weight: bolder;
}

%Left-Page-Subtitle {
  font: 100% $font-stack;
  color: #E6873F;
  font-size: 28px;
  font-weight: bolder;
}

%Left-Page-Info {
  font: 100% $font-stack;
  color: black;
  font-size: 14px;
  width: 70%;
  margin-top: 10px;
}

%Left-Page-Button {
  font: 100% $font-stack;
  color: black;
  background: rgba(0,0,0,0);
  border-color: white;
  font-weight: bolder;
  font-size: 28px;
  transition: 0.5s ease-in;
  &:hover {
    color: #E6873F;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.5s ease-in;
  }
}

%Banner-Container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

%Banner-Info-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.4);
}

%Banner-Title {
  font: 100% $font-stack;
  color: #BC6732;
  font-weight: bolder;
  font-size: 34px;
}

%Banner-Info {
  font: 100% $font-stack;
  color: rgb(15, 110, 148);
  font-weight: bold;
  font-size: 28px;
}

%Banner-Btn {
  font: 100% $font-stack;
  font-weight: bolder;
  font-size: 28px;
  background: rgb(15, 110, 148);
  color: white;
  &:hover {
    background: #BC6732;
    color: white;
    cursor: pointer;
  }
}

%Column-Display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

%Row-Display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

body {
  font: 100% $font-stack;
}

// Navbar styles

.navbar {
  margin-top: -20px;
  margin-bottom: -80px;
  height: 100px;
  .fixed-top {
    .navbar {
      .navbar-expand {
        .navbar-light {

        }
      }
    }
  }
}

.navbar-light {
  .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 34px;
    font: 100% $font-stack;
    &:hover {
      color: 	#BC6732;
      cursor: pointer;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: black;
      border-right: 2px solid white;
      margin-right: 10px;
      letter-spacing: 2px;
      font: 100% $font-stack;
      font-size: 22px;
      font-weight: bolder;
      &:hover {
        color: 	#BC6732;
        cursor: pointer;
      }
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      margin-top: 10px;
      .icons {
        width: 50px;
        height: 50px;
      }
    }
  }
}

// Home Page Styles

.Home-Page-Container {
  background-image: url('../../../public/front-end-dev-test-assets/hero.jpg');
  width: 100%;
  height: 750px;
  @extend %Column-Display;
  .Home-Info-Container {
    text-align: center;
    .Welcome {
      color: rgba(0,0,0,0);
      font: 100% $font-stack;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
      font-size: 72px;
      word-spacing: 10px;
    };
    .Company-Name {
      color: white;
      font: 100% $font-stack;
      font-size: 62px;
      font-weight: bold;
      letter-spacing: 4px;
    }
  };
  .Home-Button-Container {
    margin-top: 20px;
    .Home-Button {
      @extend %shared-navigation-btn
    }
  }
}

// Weather styles

.Weather-Outer-Container {
  @extend %Row-Display;
  margin-top: 100px;
  .Weather-Container {
    @extend %Column-Display;
    border: 2px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    .Weather-Inner-Container {
      @extend %Column-Display;
      .Day {
        font-size: 18px;
        font-weight: bolder;
        color: white;
      };
      .Weather-Type {
        font-size: 18px;
        font-weight: bolder;
      };
      .Temp-Container {
        @extend %Row-Display;
        font-size: 14px;
        font-weight: bolder;
        .Weather-Header {
          color: white;
          margin-right: 8px;
        }
      };
      .Humidity-Container {
        @extend %Row-Display;
        font-size: 14px;
        font-weight: bolder;
        margin-right: 8px;
        .Weather-Header {
          color: white;
          margin-right: 8px;
          margin-left: 8px;
        }
      }
    }
  }
}


// About Us Styles

.About-Container {
  @extend %Left-Page-Container;
  .About-Info-Container {
    @extend %Left-Page-Info-Container;
    .About-Title {
      @extend %Left-Page-Title;
    };
    .About-Sub-Title {
      @extend %Left-Page-Subtitle;
    };
    .About-Info {
      @extend %Left-Page-Info;
    };
    .About-btn {
      @extend %Left-Page-Button;
    }
  };
  .About-Image-Container {
    .About-Image {

    };
  };
}

.About-Banner-Container {
  @extend %Banner-Container;
  background-image: url('../../../public/front-end-dev-test-assets/banner-1.jpg');
  .About-Banner-Info-Container {
    @extend %Banner-Info-Container;
    .About-Banner-Title {
      @extend %Banner-Title;
    };
    .About-Banner-Info {
      @extend %Banner-Info;
    }
    .About-Banner-Btn {
      @extend %Banner-Btn;
    }
  };
  .About-Transition-Button {
    @extend %shared-navigation-btn;
    margin-top: 50px;
    background: rgba(255,255,255,0.4)
  }
}

// Learn More Skills Styles

.modal-content {
  width: 800px;
  position: absolute;
  left: -18%;
  background-color: black;
  color: white;
  z-index: 1000;
}

.Modal-Skill-Header-Container {
  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

code {
  color: #E6873F;
  margin-right: 28px;
  margin-left: -4px;
  text-align: start;
}

.Modal-Button {
  background-color: transparent;
  color: white;
  border-color: white;
  border-width: 2px;
  letter-spacing: 1px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border-color: white;
    border-width: 2px;
    letter-spacing: 1px;
    font-weight: bold;
  }
}

// Services Styling

.Services-Container {
  @extend %Left-Page-Container;
  width: 100%;
  height: 680px;
  .Services-Info-Container {
    @extend %Left-Page-Info-Container;
    width: 50%;
    .Services-Title {
      @extend %Left-Page-Title;
      color: black;
      margin-bottom: 30px;
    };
    .Services-Sub-Title {
      @extend %Left-Page-Subtitle;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: -10px;
      #word1 {
        color: #79244A;
        margin-right: 8px;
      };
      #word2 {
        color: #7AB5BF;
        margin-right: 8px;
      };
      #word3 {
        color: #B99468;
        margin-right: 8px;
      };
      #word4 {
        color: #B94352;
        margin-right: 8px;
      };
      #word5 {
        color: #9EB467;
        margin-right: 8px;
      };
    };
    .Services-Info {
      @extend %Left-Page-Info;
    };
    .Services-btn {
      @extend %Left-Page-Button;
    }
  };
  .Service-Icon-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    width: 50%;
    height: 100%;
    .Service-Icon-Inner-Container {
      @extend %Column-Display;
      width: 100%;
      height: 100%;
      .Icon-Row {
        @extend %Row-Display;
        width: 100%;
        height: 50%;
        margin-bottom: -20px;
        .Service-Icon {
          @extend %Column-Display;
          width: 100%;
          height: 25%;
          color: #7AB5BF;;
          font-weight: bold;
          font-size: 18px;
          .Inner-Icon-Container {
            &:hover {
              color: #79244A;
            }
            .Service-Icon-Wrapper {
              border: 1px solid #79244A;
              border-radius: 50%;
              padding: 20px;
            };
            .Service-Info-Wrapper {
              font: 100% $font-stack;
              margin-top: 10px;
              font-weight: bold;
              @extend %Column-Display;
            }

          }
        }
      }
    };
  };
}

// More Styles for icons now that dropdown has been added

%invisible {
  background: rgba(0,0,0,0);
  color: (0,0,0,0);
  border: hidden;
  height: 88px;
  width: 88px;
  margin-right: 14px;
}

.dropleft {
  @extend %invisible;
    &:hover {
      @extend %invisible;
    }
    .dropdown-toggle {
      @extend %invisible;
      &:hover {
        @extend %invisible;
      }
      .btn {
        @extend %invisible;
        .btn-secondary {
          @extend %invisible;
      }
    }
  }
}

.dropdown-item {
  color: #7AB5BF;
  font-size: 18px;
  font-weight: bold;
}

.Services-Banner-Container {
  @extend %Banner-Container;
  background-image: url('../../../public/front-end-dev-test-assets/banner-2.jpg');
  flex-direction: column;
  justify-content: flex-start;
  .Inner-Service-Banner-Container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 80%;
    .Services-Banner-Info-Container {
      @extend %Banner-Info-Container;
      margin-top: 100px;
      .Services-Banner-Title {
        @extend %Banner-Title;
      };
      .Services-Banner-Info {
        @extend %Banner-Info;
      }
      .Services-Banner-Btn {
        @extend %Banner-Btn;
      }
    };
    .Outer-Button-Container {
      @extend %Column-Display;
      .Services-Transition-Button {
        @extend %shared-navigation-btn;
        margin-top: 50px;
        background: rgba(255,255,255,0.4)
      }
    }
  }
}

// Work Styles

.Work-Container {
  @extend %Left-Page-Container;
  width: 100%;
  height: 800px;
  .Work-Info-Container {
    @extend %Left-Page-Info-Container;
    width: 50%;
    .Work-Title {
      @extend %Left-Page-Title;
    };
    .Work-Sub-Title {
      @extend %Left-Page-Subtitle;
    };
    .Work-btn {
      @extend %Left-Page-Button;
    }
  };
}