@import "~bootstrap/scss/bootstrap";

$font-stack: Helvetica, sans-serif;

.body {
  font: 100% $font-stack;
}

// Navbar styles

.navbar {
  margin-top: -20px;
  margin-bottom: -40px;
  .fixed-top {
    .navbar {
      .navbar-expand {
        .navbar-light {

        }
      }
    }
  }
}

.navbar-light {
  .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 34px;
    font: 100% $font-stack;
    &:hover {
      color: 	#BC6732;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: black;
      border-right: 2px solid white;
      margin-right: 10px;
      letter-spacing: 2px;
      font: 100% $font-stack;
      font-size: 22px;
      font-weight: bolder;
      &:hover {
        color: 	#BC6732;
      }
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      .icons {
        width: 46px;
        height: 46px;
      }
    }
  }
}

// Home Page Styles

.Home-Page-Container {
  background-image: url('../../../public/front-end-dev-test-assets/hero.jpg');
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .Home-Info-Container {
    text-align: center;
    .Welcome {
      color: rgba(0,0,0,0);
      font: 100% $font-stack;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
      font-size: 72px;
      word-spacing: 10px;
    };
    .Company-Name {
      color: white;
      font: 100% $font-stack;
      font-size: 62px;
      font-weight: bold;
      letter-spacing: 4px;
    }
  };
  .Home-Button-Container {
    margin-top: 20px;
    .Home-Button {
      font: 100% $font-stack;
      color: black;
      background: rgba(0,0,0,0);
      border: 2px solid white;
      border-radius: 2%;
      font-weight: bolder;
      font-size: 28px;
      transition: 0.5s ease-in;
      &:hover {
        color: #E6873F;
        font-weight: bolder;
        border: 2px solid black;
        transition: 0.5s ease-in;
      }
    }
  }
}